// We can import bulma into the project using Sass.
@import "../node_modules/nprogress/nprogress.css";
@import "../node_modules/bulma/bulma.sass";
@import "../components/Chart/chart.css";
@import"../node_modules/react-dropdown/style.css";

body {
  font-size: 0.9em;
  font-family: 'Helvetica', sans-serif;
}

.page {
  padding: 2em 0;
}

.app {
  margin: 0 auto;
  width: 80%;
  height: 250px;
  padding: 1em;
  cursor: pointer;
  border: 1px solid #d5d5d5;
  &-logo {
    height: 100px;
  }
  &:hover {
    background: #f1f1f1;
  }
}
.hero {
  background: #EDF9F5;
  height: 710px;
  padding: 6em 0;
  .title {
    font-size: 3.5em;
    color: #2C6175;
    font-weight: 600;
    margin-bottom: 1em;
    text-align: center;
  }
  .subtitle {
    font-size: 1.5em;
    color: #555;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
  }
}
.navbar.home-navbar {
  background: #EDF9F5;
  .navbar-item {
    font-weight: 600;
    letter-spacing: 1px;
    &:hover {
      color: #1A2c23;
      background: none;
    }
  }
  .navbar-end {
    .navbar-item a {
      color: #333;
      &:hover {
        color: #1A2c23;
        background: none;
      }
    }
  }
}

.navbar-brand {
  a.navbar-item {
    color: #222;
    font-size: 1.2em;
    font-weight: 600;
    &:hover {
      color: #43BD66;
    }
  }

}
.navbar.user-navbar {
  border-bottom: 1px solid #2C6175;
  background: #EDF9F5;

  .navbar-item {
    color: #222;
  }
  .navbar-end {
  }
}

.dashboard-head {
  background: #fafafa;
  border-bottom: 1px solid #F1F1F1;
  padding: 0.5em 0;
}

.dashboard-app {
  padding: 3em 0;
  border-bottom: 1px solid #f1f1f1;
}

.dashboard-app-head {
  font-size: 1.1em;
  cursor: pointer;
  margin-bottom: 1em;
}

.dashboard-app-date, .dashboard-app-region {
  font-size: 0.9em;
  color: #666;
}

.dashboard-app-metadata {
  display: flex;
  justify-content: space-between;
}
.sub-navbar {
  position: relative;
  .container {
    width: 80%;
  }
}

.dashboard-body {
  padding-bottom: 3em;
  min-height: 500px;
}

.dashboard-body-nav {
  font-size: 1em;
  padding: 1em 0;
  border-bottom: 1px solid #f1f1f1;
}

.dashboard-body-head {
  font-size: 1.4em;

}

.team-name {
  background: #EDF9F5;
  color: #2C6175;
  border: 1px solid #2C6175;
  &:hover {
    color: #2C6175;
    border: 1px solid #2C6175;
    opacity: 0.75;
  }
}

.navbar .input {
  background: #AADAD9;
  color: #2C6175;
  border-radius: 3px;
  border: 1px solid #2C6175;
  &::placeholder {
    color: #2C6175;
  }

}


.logo-center {
  display: block;
  margin: 0 auto;
}

.search {
  width: 400px;
}

.input, .button {
  font-size: 0.9em;
}

.input {
  &::placeholder {
    color: #2C6175;
  }
  &:hover {
    border: 1px solid #43BD66;
  }

}
.label {
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.input {
  background: #FFF;
  border-radius: 3px;
  border: 1px solid #2C6175;
}

.button {
  font-weight: 600;
  width:100%;
  color: #FFF;
  background: #2C6175;
  border-radius: 3px;
  letter-spacing: 1px;
  border: 0;
  &:hover {
    color: #fff;
  }
}
.form {
  width: 400px;margin:0 auto;
  padding: 0.5em 0em;
  border-radius: 1px;
}

.form-inner {
  width: 85%;
  margin: 0 auto;
  padding: 4em 0;
}

.select {
  width: 100%;
}

.select-item {
  width: 100%;
}

.container {
  width: 70%;
}

.new-app-container {
  width: 50%;
  margin: 0 auto;
}

.app-item {
  font-weight: 600;
  border: 1px solid #111;
  padding: 0.5em;
}

.app-page-body {
  padding: 2em 0;
}

.app-page-activity {
  margin: 0;
}
.activity-heading {
  margin-bottom: 1em;
  font-weight: 600;
}
.app-page-time {
  color: #999;
}

.home-heading {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.home-context {
  font-size: 1.2em;
}

.home-body {
  background: #fff;
  padding: 4em 0;
  height: 400px;
  .title{
    text-align: center;
    margin-bottom: 2em;
  }
}

.hero.signup-hero {
  padding-top: 0;
}

.signup-title, .login-title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

.dashboard-button {
  background: #EDF9F5;
  color: #2C6175;
  border: 1px solid #2C6175;
  &:hover {
    color: #2C6175;
    border: 1px solid #2C6175;
    opacity: 0.75;
  }
}

.footer-container {
  width: 65%;
}

.footer-content {
  padding: 1em 0;
}

.footer-head {
}

.footer-link {
  display: block;
  color: #888;
  margin: 0.5em 0;
}

.chart-title {
  font-size: 1.1em;
  font-weight: 600;
}

.popup-hidden {
  display: none;
}

.popup {
  position: absolute;
  left: 0;
  top: 35px;
  width: 300px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  z-index: 100;
}

.dropdown {
  cursor: pointer;
}

.popup-heading {
  padding: 0.5em 1em;
  border-bottom: 1px solid #f1f1f1;
}

.space {
  padding: 1em 1em;
}
.space-head {
  font-size: 0.8em;
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.space-owner {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: top center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;

}

.dropdown-selected {
  color: #555;
  background: #f1f1f1;
  border-radius: 3px;
  padding: 0.5em;
  font-weight: 600;
}

.space-item {
  background: #f9f9f9;
  padding: 0.5em;
  cursor: pointer;
  &:hover {
    background: #f1f1f1;
  }
}

.space-title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 1em;
}

.space-content {
  margin: 0 auto;
  width: 200px;
  font-size: 0.9em;
  text-align: center;
}

.space-btn {
  display: block;
  color: #555;
  background: #f9f9f9;
  text-align: center;
  padding: 0.5em 0;
  margin-top: 1em;
}
